/*home.css*/

.circle{
	width: 29%;
	border: none;
	border-radius: 50%;
	margin:2%;
	left:38%;
	top:-100px;
}

.bgContainer{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow: hidden;
}

.icons{

}

.absolutePosition{
	position:absolute;
}

.blackBg{
	background: #000;
}

.dragBox{
	width: 90%;
	margin: 4%;
	height: 25%;
	bottom:0px;
	left:0px;
	position: absolute;
	border: 3.75px dashed #000;
	border-radius: 90px;
}

.fullscreen{
	margin:0;
	position: absolute;
	left:0 !important;
	top:0 !important;
	width:100% !important;
	height:100% !important;
}

#dragBox{
	transition: background 0.5s;
}